# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
bower_components/


### JetBrains template

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws


# Coverage
coverage/
coverage-server/
coverage-client/
coverage-merged/
